/*===========================================
General Styles
=============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #fff;
  color: #555;
  font-family: 'Lato'; 'Arial'; sans-serif;
  font-size: 20px;
  font-weight: 300; /*default weight*/
  text-rendering: optimizeLegibility;
}
body{
  display: table;
  width: 100%;
}

.row {
  max-width: 1140px; /*this is the only value that is absolute and in px*/
  margin: 0 auto; /*all our rows will be centered*/
}

.clearfix {
  /*clearfix clear the float after the element, the parent has the clearfix class*/
  zoom: 1;
}
.clearfix:after {

  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
canvas {
  display: block;
  vertical-align: bottom;
}

/*----------------ICONS------------------*/
.icon-big {
  /*you can style the ionicons like fonts*/
  font-size: 225%;
  display: inline-block;
  color: #e67e22;
  margin-bottom: 8px;
}

.icon-small {
  /*font-size: 110%;*/
  font-size: 180%;
  display: inline-block;
  color: #e67e22;
  margin-bottom: 10px;
}
/*individual colors for the ionicons*/
#js {
 color: #000; 
}
#data {
 color: #ffdb4d; 
}
#node {
  color: #7FFF00;
}

/*===========================================
HEADER STYLES
=============================================*/
/* ---- particles.js container ---- */

.content{
    position: absolute;
    display: block;
    width: 50%;
    right: 0px;
    height: 100vh;
    /*float: right;*/
    opacity: 1;
}

#particles-js {
  position: fixed;
  height: 100vh;
  width: 50%;
  left: 0px;
  /*float:left;*/
  background-image: linear-gradient(to bottom, rgba(48,48,48,.2) 0%, rgba(48,48,48,2.7) 100%),url("../images/space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text {
  left:50%;
  top:50%;
  transform: translate(-50%, -50%); 
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  position:absolute;
  z-index: 2;
}


h1, h2 {
  margin-top: 0; /*normalize.css adds some margin*/
  margin-bottom: 14px;
  color: #fff;
  font-size: 240%; /*relative to the html global fontsize which is at 20px*/
  font-weight: 300; /*for big font sizes use smaller font weight*/
  text-align: center;
}
h1 {
  word-spacing: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2 {
  font-size: 175%;
  font-weight: 150;
  letter-spacing: .5px;
}

.header-text h2{
  white-space:nowrap;
  margin-top: 14px;
  overflow:hidden;
  width: 18em;
  /*animation: type 4s steps(60, end);*/
}
.header-text span{
  animation: blink 1s infinite;
}

.header-text h1{
  border-bottom: 3.5px solid #c8bcac;
  opacity: 1;
  margin: 0 2em;
}


/*send this to bottom for media queries*/
@media screen and (max-width: 900px) {
    .header-text h1{font-size: 130%;}
}

/*@-webkit-keyframes type{ 
  from { width: 0; } 
} */

@-webkit-keyframes blink{
  to{opacity: .0;}
}
/*@-moz-keyframes type{ 
  from { width: 0; } 
} */

@-moz-keyframes blink{
  to{opacity: .0;}
}

.tagline {

  font-size: 165%;
  margin-bottom: 15px;
  font-weight: 300; /*for big font sizes use smaller font weight*/
  color: black;
 margin-top: 20px;
}




/*===========================================
Nav-bar
=============================================*/

.nav{


}
.main-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    height: 40px;
    width: 50vw;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #e0f1ff 32%, #fffae3);
    opacity: .9;
    
}
.main-nav li{
  display: inline-block; /*li is originally block elements*/
  margin: 1% 3% 2%;
  text-align: center;
  letter-spacing: 2px;
  filter: blur(0);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  
}
/*.main-nav li:first-child {
  margin-left: 0;
}*/


.main-nav li a:link,
.main-nav li a:visited{ 
  /*link at the visited/current stays stays the same*/
  padding: 8px 0; /*adding padding between the text and border bottom*/
  color: black;
  text-decoration: none;  /*no underline*/
  text-transform: uppercase;
  font-size: 90%; /*default font size is 20px on the html selector, 18/20 = 90%*/
  border-bottom: 2px solid transparent; /*border set to transparent until you hover*/
  transition: border-bottom 0.2s;

}
.main-nav li a:active,
.main-nav li a:hover {
  border-bottom: 2px solid #c8bcac; 
  -webkit-filter: blur(0);
}

.hamburger {
  position: fixed;
  left: -40px;
  top: -80px;
  z-index: 1000;
  width: 450px;
  height: 140px;
  padding-top: 35px;
  padding-left: 54px;
  background-color: #1f3447;
  background-image: none;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  display:none;
}

/*===========================================
API STRIP
=============================================*/
.api-strip{
  background-image:url('../images/greyzbg.png');
  height: 200px;
  display: flex;
  margin-top: 30px;
  align-items: center;
}
.githubRepo {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  font-size: 75%;
  margin-left: 35%;
}
.tabbed {
  padding-left: 20px;
}
.midsize{
  font-size: 310%;
  text-align: center;
}

/*===========================================
Photo ROW
=============================================*/
.picture-row{
  margin-top: 50px;
}


.image-showcase{
  list-style: none;
  width: 100%;
  display: inline-block;

}

.image-showcase li {
  /*display images as block and float*/
  display: block;
  float: left;/* side by side image*/
  width: 25%; /*4 x 25 is 100% of the width*/
}

.image-row{
  width: 100%; /*has exact with of parent (meal showcase li or 25%)*/
  margin: 0; /*normalize file has added some margin*/
  overflow: hidden;/*chilrden inside this div that extend out, those excess will be hidden*/
}
.image-row img{
  opacity: 0.7; /*makes images darker, adds a haze/fade*/
  width: 100%;
  height: auto;
  transform: scale(1.15); /*makes the images bigger than the meal-photo container, it overflows out*/
  transition: transform 0.5s, opacity 0.5s;
  background: #000; /*since image is opaque with a black background, image gets darker*/
}
.image-row img:hover{
  opacity:1; /*picture gets lighter on hover*/
  transform: scale(1.03); /*white line on top images, will be reduced*/
  /*zoom out effect */
}

.tagline-container {
  margin: 0 auto;
}
h2#tagline {
  margin: 0 auto;
  font-size: 42%;
}

#tagline {

  display: inline-block;
  color: black;
}
#tagline-div {
    position: relative;
    /* z-index: 999; */
    margin-top: -17%;
    width: 50%;
    /* border: 2px solid black; */
    margin-left: 25.5%;
    font-size: 245%;
}



/*===========================================
ABOUT ME SECTION
=============================================*/
.skills-intro{
}
#line p {
  text-align: justify;
}

/*----------------PARAGRAPHS------------------*/
.long-copy{
  line-height: 145%;
  width: 70%;  /*paragraph will no longer be centered after adjusting the width*/
  margin-left: 15%; /*15% because the total width is 100% the remaining percent should be distributed between left and right*/
  margin-right: 15%;
  text-align: center;
  /*margin-bottom: 30px;   already have a section for this*/ 
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.jslog {
  padding: 0 37px;
  line-height: 28px;
  text-align: center;
  display: block;
}
.jslog:not(:first-child) {
  margin-top: 10px;
}


/*===========================================
PORTFOLIO TABS
=============================================*/

.clip-desc p {
  margin: 0 0 20px;
  line-height: 1.5;
  margin-bottom: 0 0 20px 20px;
}
.clip-desc h3 {
  text-decoration: underline;
  margin-bottom: 5px;
  color: #e67e22;
}

p a .icon-small {
  font-size: 110%;
}

main {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
  min-width: 320px;
  padding: 50px 20px;
  margin: 0 auto;
  background: #fff;

}
.project{
  display: flex;
}

article {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
    height: 550px;
  overflow: scroll;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: ' '; }
label[for*='2']:before { content: ' '; }
label[for*='3']:before { content: ' '; }
label[for*='4']:before { content: ' '; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #front-end,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

.links {
  /*height: inherit;*/
  display: flex;
  flex-direction: row-reverse;
  align-items:flex-end; 
}
.clip-desc {
  /*height: inherit;*/
  padding: 5px 10px;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

/*===========================================
MAP AND CONTACT
=============================================*/
.location{
  padding: 0 35px;
}
#map {
  height: 200px;
  width: 80%;
}


/*===========================================
FOOTER
=============================================*/

footer {
    position: fixed;
    right: -30px;
    bottom: -75px;
    z-index: 5000;
    width: 500px;
    height: 140px;
    padding-top: 15px;
    padding-right: 40px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #134E5E, #71B280); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #134E5E, #71B280); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #134E5E, #71B280); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #134E5E, #71B280); /* Standard syntax */
    -webkit-transform: rotate(-18deg) scale(.65) translate(25%,40%);
    -ms-transform: rotate(-18deg) scale(.65) translate(25%,40%);
    transform: rotate(-18deg) scale(.65) translate(25%,40%);
    transition: all .5s ease;
}

footer p{
  padding-left: 258px;
  color: white;
  font-size: 10px;
  display: none;
}

footer:hover{
  -webkit-transform:rotate(-15deg) scale(1) translate(2%,5%);
  -ms-transform:rotate(-15deg) scale(1) translate(2%,5%);
  transform:rotate(-15deg) scale(1) translate(2%,5%)};
}




.links {
    float: right;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}
.social-links {
  list-style: none;
  float: right; 
}
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.3s;
}
.social-links li a:hover,
.social-links li a:active {
  color: #ddd;
}

.ion-email,
.ion-social-github,
.ion-social-youtube,
.ion-social-linkedin-outline {
  transition: color 0.3s;
} 

.ion-email:hover {
  color: #fff;
}.ion-social-github:hover {
  color: #fff;
}.ion-social-youtube:hover {
  color: #bb0000;
}.ion-social-linkedin-outline:hover {
  color: #0077b5;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}


@media(max-width: 1000px){


  .main-nav li{
    display: block; /*li is originally block elements*/
    margin-left: 20px;
  

  }
  .main-nav li:first-child {
    margin-left: 60px;
  }

}

@media(max-width: 767px){


  .main-nav{
    float: none;
    list-style: none;
    margin: 1% 25%;
    
    z-index: 2;

  }
  .main-nav li{
    display: block; /*li is originally block elements*/
    margin-left: 60px;
    text-align: center;

  }
  .main-nav li:first-child {
    margin-left: 60px;
  }
}


